In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.preprocessing import StandardScaler

In [0]:
data_train= pd.read_csv('train.csv')
data_test= pd.read_csv('test.csv')

In [0]:
ID=pd.DataFrame()
ID['Accident_ID']=data_test['Accident_ID']

In [0]:
data_train= data_train.drop(["Accident_ID"],axis=1)
data_test= data_test.drop(["Accident_ID"],axis=1)

In [0]:
data_train=data_train[data_train['Days_Since_Inspection'] < 20]
data_train=data_train[data_train['Days_Since_Inspection'] > 5]

#data_train=data_train[data_train['Max_Elevation'] < 57000]
#data_train=data_train[data_train['Max_Elevation'] > 8000]

data_train=data_train[data_train['Total_Safety_Complaints'] < 50]

#data_train=data_train[data_train['Control_Metric'] < 90]
#data_train=data_train[data_train['Control_Metric'] > 33]

In [0]:
#from sklearn.preprocessing import LabelEncoder
#label_encoder= LabelEncoder()
#data_train['Severity']= label_encoder.fit_transform(data_train['Severity'])
severity = {
            'Minor_Damage_And_Injuries':1, 
            'Significant_Damage_And_Fatalities':2, 
            'Significant_Damage_And_Serious_Injuries':3,
            'Highly_Fatal_And_Damaging':4
            }
data_train.Severity = [severity[item] for item in data_train.Severity] 
data_train.head()

   Severity  Safety_Score  ...  Violations  Adverse_Weather_Metric
0         1     49.223744  ...           3                0.424352
1         1     62.465753  ...           2                0.352350
2         2     63.059361  ...           3                0.003364
3         3     48.082192  ...           1                0.211728
4         2     26.484018  ...           2                0.176883

[5 rows x 11 columns]

In [0]:
data_train.head()
#data_train.drop(['Turbulence_In_gforces'],axis=1,inplace=True)

   Severity  Safety_Score  ...  Violations  Adverse_Weather_Metric
0         1     49.223744  ...           3                0.424352
1         1     62.465753  ...           2                0.352350
2         2     63.059361  ...           3                0.003364
3         3     48.082192  ...           1                0.211728
4         2     26.484018  ...           2                0.176883

[5 rows x 11 columns]

In [0]:
data_train.head()

   Severity  Safety_Score  ...  Violations  Adverse_Weather_Metric
0         1     49.223744  ...           3                0.424352
1         1     62.465753  ...           2                0.352350
2         2     63.059361  ...           3                0.003364
3         3     48.082192  ...           1                0.211728
4         2     26.484018  ...           2                0.176883

[5 rows x 11 columns]

In [0]:
#cat_data= data_train[['Accident_Type_Code','Violations']]

In [0]:

#num_data= data_train.columns.difference(cat_data)
#num_data=data_train[num_data]

In [0]:
#num_data.head()

In [0]:
#data_train= pd.concat([num_data,cat_data],axis=1)

In [0]:
data_train["Severity"]

0       1
1       1
2       2
3       3
4       2
       ..
9995    3
9996    4
9997    3
9998    1
9999    4
Name: Severity, Length: 9509, dtype: int64

In [0]:
x = data_train.drop(["Severity"],axis=1)
y = data_train["Severity"]

In [0]:
X_train, X_test, y_train, y_test= train_test_split(x,y,test_size=0.25,random_state=12)

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

In [0]:
rf=RandomForestClassifier(n_estimators=500)
rf = rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
#print(accuracy_score(y_test,y_pred))

score = 100 * (f1_score(y_test,y_pred, average='weighted'))
score

94.20166050912901

In [0]:
ID.head()

   Accident_ID
0            1
1           10
2           14
3           17
4           21

In [0]:
Y_p = rf.predict(data_test)
ID['Severity']=pd.DataFrame(Y_p)
severity = {
            1:'Minor_Damage_And_Injuries', 
            2:'Significant_Damage_And_Fatalities', 
            3:'Significant_Damage_And_Serious_Injuries',
            4:'Highly_Fatal_And_Damaging'
            }
ID.Severity = [severity[item] for item in ID.Severity] 
ID.to_csv ('RF.csv', index = False)

In [0]:
GB=GradientBoostingClassifier(n_estimators=300)
GB.fit(X_train,y_train)
y_pred=GB.predict(X_test)
#print(accuracy_score(y_test,y_pred))

score = 100 * (f1_score(y_test,y_pred, average='weighted'))
score

96.17036336071439

In [0]:
Y_p = GB.predict(data_test)
ID['Severity']=pd.DataFrame(Y_p)
severity = {
            1:'Minor_Damage_And_Injuries', 
            2:'Significant_Damage_And_Fatalities', 
            3:'Significant_Damage_And_Serious_Injuries',
            4:'Highly_Fatal_And_Damaging'
            }
ID.Severity = [severity[item] for item in ID.Severity] 
ID.to_csv ('GB.csv', index = False)

In [0]:
import lightgbm as ltb
lgbm = ltb.LGBMClassifier()
lgbm.fit(X_train, y_train)
y_pred=lgbm.predict(X_test)
#print(accuracy_score(y_test,y_pred))

score = 100 * (f1_score(y_test,y_pred, average='weighted'))
score

96.76305476813361

In [0]:
Y_p = lgbm.predict(data_test)
ID['Severity']=pd.DataFrame(Y_p)
severity = {
            1:'Minor_Damage_And_Injuries', 
            2:'Significant_Damage_And_Fatalities', 
            3:'Significant_Damage_And_Serious_Injuries',
            4:'Highly_Fatal_And_Damaging'
            }
ID.Severity = [severity[item] for item in ID.Severity] 
ID.to_csv ('lgbm.csv', index = False)